.Navbar{
    background-color: rgb(212, 195, 228) !important;
}

.card{
    margin: 10% !important;
    
}

a:hover {
    background-color: yellow;
  }

.jumbotron{
    background-color: rgb(212, 195, 228) !important;
}

.display-4{
    align-items: center !important;
}

.btn{
box-shadow: 0px 5px 10px 0px rgb(212, 195, 228)}